*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body{
  background: white;
}
.wraper .header{
  z-index: 1;
  background: rgb(73, 73, 73);
  position: fixed;
  width: calc(100% - 0%);
  height: 60px;
  display: flex;
  top: 0;
}
.wraper .header .header-menu{
  width: calc(100% - 0%);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
.wraper .header .header-menu .title{
  color: white;
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
}
.wraper .header .header-menu .title span{
  color: #3399ff;
}
.wraper .header .header-menu .sidebar-btn{
  color: white;
  font-size: 25px;
  font-weight: bold;
  position: absolute;
  margin-left: 250px;
  cursor: pointer;
  transition: 0.3s;
  transition-property: color;
}
.wraper .header .header-menu .sidebar-btn:hover{
  color: #3399ff;
}
.wraper .header .header-menu .search-bar input[type=text]{
  outline: none;
  border: none;
  border-bottom: 2px solid #3399ff;
  border-top: 2px solid #3399ff;
  background: transparent;
  font-size: 20px;
  color: white;
}
.wraper .header .header-menu .search-bar .fa{
  margin-left: 10px;
  color: #3399ff;
  font-size: 25px;
}
.wraper .header .header-menu ul{
  display: flex;
}
.wraper .header .header-menu ul li a{
  background: #3399ff;
  color: white;
  display: block;
  margin: 0 10px;
  font-size: 25px;
  width: 35px;
  height: 35px;
  line-height: 35px;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
}



.wraper .sidebar{
  z-index: 1;
  background: rgb(73, 73, 73);
  position: fixed;
  top: 60px;
  width: 250px;
  height: 100%;
  transition: 0.3s;
  transition-property: width;
  overflow-y: auto;
}
.wraper .sidebar .sidebar-menu{
  overflow: hidden;
}
.wraper .sidebar .sidebar-menu .profile img{
  width: 100px;
  height: 100px;
  margin: 20px 0;
  border-radius: 50%;
}
.wraper .sidebar .sidebar-menu .profile p{
  color: #3399ff;
  font-weight: 600;
  margin-bottom: 10px;
}
.wraper .sidebar .sidebar-menu .item{
  width: 250px;
  overflow: hidden;
}
.wraper .sidebar .sidebar-menu .item .nav-link{
  display: block;
  color: white;
  position: relative;
  padding: 25px 20px;
  transition: 0.3s;
  transition-property: background, color;
}
.wraper .sidebar .sidebar-menu .item .nav-link:hover{
  color:white;
  background: #3399ff;
}

.wraper .main-content{
  width: calc(100% - 250px);
  margin-top: 60px;
  margin-left: 250px;
  padding: 15px;
  background-image: linear-gradient(to right bottom, #3399ff,#ff33f5);
  height: 100vh;
}

.wraper.collapse .sidebar{
  width: 70px; 
}
.wraper.collapse .sidebar .profile img,
.wraper.collapse .sidebar .profile p,
.wraper.collapse .sidebar a span{
  display: none;
}
.wraper.collapse .sidebar .sidebar-menu .item .sidebar-btn{
  font-size: 25px;
}
.wraper.collapse .main-content{
  width: calc(100% - 70px);
  margin-left: 70px;
}
