*{
    padding: 0;
    margin: 0;
}
/* ----------------navigation------------------- */
.nav-bar{
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar-brand{
    font-family: 'Pacifico', cursive;
}
.navbar-nav li{
    padding: 0 10px;
}
.navbar-nav li a{
    /* text-align: left;
    float: right; */
    font-size: 15px;
    font-weight: 700;
}
.nav-bar ul li a:hover{
    color: white!important;
}
.navbar{
    background: #3399ff;
}


/* ---------content section------------ */
#content{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,0.60), rgba(0,0,0,0.60)), url('img/bg-content.jpg');
    background-position: center;
    background-size: cover;
    text-align: center;
}
#content h1{
    padding-top: 200px;
    color: white;
    font-size: 60px;
    font-weight: bold;
}
#content p{
    color: white;
    font-size: 20px;
}


/* ------------courses section-------- */
#courses{
    margin: 100px auto;
    width: 80%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.60),rgba(0,0,0,0.60)), url('img/bg-courses.jpg');
    background-position: center;
    background-size: cover;
    text-align: center;
    border-radius: 15px;
}
#courses h1{
    padding-top: 200px;
    color: white;
    font-size: 40px;
    font-weight: bold;
}
#courses p{
    color: white;
    font-size: 20px;
}
#courses input{
    width: 25%;
    padding:10px 10px;
    outline: none;
    border: 2px solid #3399ff;
    border-radius: 10px;
    /* background: transparent; */
    font-size: 15px;
}
@media (max-width:600px) {
    #courses p{
        font-size: 18px;
    }
    #courses input{
        width: 60%;
    }
}

/* ------------jobs section-------- */
#jobs{
    margin: 100px auto;
    width: 80%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.60),rgba(0,0,0,0.60)), url('img/bg-jobs.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
    border-radius: 15px;
}
#jobs h1{
    padding-top: 200px;
    color: white;
    font-size: 40px;
    font-weight: bold;
}
#jobs p{
    color: white;
    font-size: 20px;
}
#jobs input{
    width: 25%;
    padding:10px 10px;
    outline: none;
    border: 2px solid #3399ff;
    border-radius: 10px;
    /* background: transparent; */
    font-size: jobs
}
@media (max-width:600px) {
    #jobs p{
        font-size: 18px;
    }
    #jobs input{
        width: 60%;
    }
}




/* -------------about us section------------- */

#about-us{
    width: 100%;
    /* height: 80vh; */
    margin: 50px auto; 
}
#about-us .row{
    margin-top: 30px;
}
.col-md-4{
    margin: 40px auto;
}
.profile{
    padding: 70px 10px 10px;
    background-color: lightgray;
}
.profile img{
    top: -60px;
    position: absolute;
    left: calc(50% - 60px);
    border: 10px solid white;
}
.user{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.profile h3{
    font-size: 15px;
    margin-top: 20px;
    color: #3399ff;
    font-weight: bold;
}
.profile .fa{
    margin: 8px;
    font-size: 20px;
    font-weight: bold;
}
.profile span{
    font-size: 12px;
    color:black;
}
.profile:hover{
    box-shadow: 0 0 15px 5px rgba(0,0,0,0.5);
    cursor: pointer;
    transition: 0.5s;
}


/* ---------------Contact us section------------- */

#contact{
    background: #d9d9d9;
    padding-top: 40px;
    padding-bottom: 40px;
}
.contact-form{
    padding: 15px;
}
/* .form-control{
    border-radius: 0!important;
    border: 0!important;
} */
::placeholder{
    color:#3399ff;
}

.follow{
    background: white;
    padding: 10px;
    margin: 15px;
}
.contact-info .fa{
    margin: 10px;
    font-weight: bold;
    color: #3399ff;
    font-size: 20px;
}



/* ----------footer------------ */
.footer{
    background: #3399ff;
    padding: 12px;
    color: white;
}